.user {
  width: 100%;
  color: #000;
  position: relative;
  & .user__name {
    font-size: 1.25rem;
  }
  & .user__avatar {
    margin: 0 auto;
    width: 128px;
    height: 128px;
    & img {
      height: 100%;
      width: 100%;
    }
  }
}
