/* You can add global styles to this file, and also import other style files */

* { box-sizing: border-box}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container {
  margin: 0 auto;
}

h1, h2, h3 {
  text-align: center;
}
main {
  margin-top: 4rem;
  position: relative;
  height: calc(100vh - 64px - 4rem);
}
a {
  text-decoration: none;
}

.pre-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
}

@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}
@media (max-width: 576px) {
  .container {
    width: 95%
  }
}
